@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url(/fonts/Roboto-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto-bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), url(/fonts/Roboto-Bold.ttf) format("ttf");
}

html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}
